.home-page {
    height: 100vh;
    /* text-align: center; */
background-color: white;
}

.home-title {
     font-weight: 500;
      font-size: 2rem;
      margin-left: 10rem;
            color: #28636c;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-section p {
    font-size: 3rem;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
line-height: 4rem;
 letter-spacing: 4px;

}
.hero-section span {
                color: #28636c;

}
.hero-content {
display: flex;
flex-direction: column;
text-align: center;
}

.hero-image {
   
margin-left: 4rem;
}

.search-link {
 background-color: #378c99;
 width: 13rem;
 height: 2rem;
 padding: 10px 5px 0 5px;
 border-radius: 8px;
}

.search-action {
   
    text-decoration: none;
    color: white;
    margin-left: 5rem;
}

.details {
     background-color: #378c99;
height: 40%;
}

.about-details {
    height: 70%;
}